---
export const prerender = true;
import MainLayout from "../layouts/Main.astro";

import { getPageContentByUri } from "../lib/api/global";
const { pageBy } = await getPageContentByUri("skills");

import { getSkills } from "../lib/api/pages/skills";
const { skills } = await getSkills();

const colors = [
	"dark",
	"indigo",
	"green",
	"pink",
	"yellow",
	"blue",
	"red",
	"purple",
];

// console.log(pageBy);
---

<MainLayout title="Skills Page">
	<div class="container">
		<h1>{pageBy.title}</h1>
		<div class="content" set:html={pageBy.content} />

		<div class="skills-list">
			{
				skills.nodes.map((skill, index) => {
					const color = colors[index % colors.length];
					return (
						<div class={`skill color--${color}`}>
							<a href={`/skills/${skill.slug}`}>{skill.title}</a>
						</div>
					);
				})
			}
		</div>
	</div>
</MainLayout>
