---
import { getProjects } from "../../lib/api/pages/projects";

export function extractSlugs(projects) {
	return projects.nodes.map((project) => {});
}

export async function getStaticPaths() {
	const projects = await getProjects();
	// console.log(projects);

	return projects.projects.nodes.map((project) => {
		return {
			params: {
				project: project.slug,
			},
		};
	});
}

const { project } = Astro.params;

import MainLayout from "../../layouts/Main.astro";

import { getProjectData } from "../../lib/api/components/project";

const { projectBy } = await getProjectData(project);
console.log(projectBy);
---

<MainLayout title="project single">
	<div class="container">
		<div class="project">
			<h4>{projectBy.title}</h4>
			<div class="project__meta">
				{
					// Date
					projectBy.projectDate.projectDate && (
						<p class="project__date">
							<span>Date: </span>
							{projectBy.projectDate.projectDate}
						</p>
					)
				}
				{
					// Category
					projectBy.terms.nodes[0].name && (
						<p class="project__category">
							<span>Category: </span>
							{projectBy.terms.nodes[0].name}
						</p>
					)
				}
				{
					// Skills
					projectBy.projectSkills.skills && (
						<div class="project__skills">
							<span>Skills: </span>
							<ul class="project__skills-list">
								{projectBy.projectSkills.skills.map((skill) => (
									<li>{skill.title}</li>
								))}
							</ul>
						</div>
					)
				}
			</div>
			<div class="project__content">
				<div class="content" set:html={projectBy.content} />
			</div>

			{
				projectBy.projectContributions.contributions && (
					<div class="project__contributions">
						<h6>My Contributions</h6>
						<ul>
							{projectBy.projectContributions.contributions.map(
								(contribution) => (
									<li>{contribution.description}</li>
								)
							)}
						</ul>
					</div>
				)
			}
		</div>
	</div>
</MainLayout>

<style lang="scss">
	@import "../../styles/vars";

	.project {
		&__meta {
			span {
				font-variation-settings: "MONO" 1, "CASL" 1, "wght" 800, "slnt" 0,
					"CRSV" 0.25;
				color: lighten($purple, 20);
			}
			ul {
				margin: 0;
			}
		}
		// Date
		&__date {
			margin-top: 0;
			margin-bottom: 4px;
		}

		// Category
		&__category {
			margin-top: 0;
			margin-bottom: 7px;
		}
		// Skills
		&__skills {
			display: flex;
			align-items: center;
			margin-top: 0;
			margin-bottom: 5px;

			span {
				margin-right: 10px;
			}

			&-list {
				display: flex;

				li {
					margin-right: 5px;

					&::after {
						content: ",";
					}
					&:last-child {
						&::after {
							content: "";
						}
					}
				}
			}
		}

		// Contributions
		&__contributions {
			h6 {
				margin-top: 20px;
				text-align: center;
				color: $white;
			}
			ul {
				width: 100%;
				display: flex;
				flex-direction: column;

				li {
					border: 1px solid rgba($green, 0.5);
					text-align: left;
					align-self: flex-start;
					width: 80%;
					margin-bottom: 15px;
					padding: 11px 10px 10px 10px;

					&:nth-child(odd) {
						text-align: right;
						align-self: flex-end;
					}
				}
			}
		}
	}
</style>
