---
export const prerender = true;
import "../styles/global.scss";
import Header from "../components/Header.astro";
import { getHeaderData } from "../lib/api/components/header";
const { menuItems, generalSettings } = await getHeaderData();
import Footer from "../components/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>🚀 - {generalSettings.title}</title>
		<meta name="description" content={generalSettings.description} />
	</head>
	<body>
		<main class="site">
			<Header generalSettings={generalSettings} navMenu={menuItems} />
			<slot />
			<Footer generalSettings={generalSettings} />
		</main>
	</body>
</html>

<style lang="scss">
	@import "../styles/vars";

	main {
		height: 100%;
		&.site {
			background-color: $dark;
			color: $white;
		}
	}
</style>
